<style>
    a, article, aside, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, header, hgroup, input, li, nav, p, section, span, td, th, tr, ul {
        -webkit-tap-highlight-color: transparent;
        appearance: none
    }

    input[type=checkbox], input[type=radio], button {
        cursor: pointer
    }

    input, button, select, textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        outline: none;
    }

    select, input[type='text'], input[type='password'], input[type='tel'] {
        width: 300px;
        height: 30px;
    }

    textarea {
        width: 300px;
        height: 72px;
    }

    .table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #eee;
    }

    .table tr, .table td, .table th {
        height: 35px;
    }

    .table td, .table th {
        border: 1px solid #eee;
        padding: 1px 5px !important;
        text-align: left;
        vertical-align: middle !important;
    }

    .table > tbody > tr:hover {
        background-color: #f5f5f5
    }

    button {
        padding: 3px 15px;
    }

    .font_color {
        color: #ff0000;
    }

    .first_bg {
        background: #bfb8b7;
    }

    .id_width {
        width: 320px;
    }

</style>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function () {
        var click_flag = true;
        $(".ajax-post").unbind('click').click(function () {
            var post_url, list_url;
            var d = $(this).parents('form');
            post_url = $(this).attr('post_url');
            list_url = $(this).attr('list_url');
            if (click_flag == false) {
                return false;
            }
            click_flag = false;
            $.ajax({
                url: post_url,
                type: 'post',
                dataType: 'json',
                data: d.serializeArray(),
                success: function (res) {
                    click_flag = true;
                    if (res.msg) {
                        alert(res.msg)
                    }
                    if (res.code == 1) {
                        list_url ? window.location.href = list_url : window.location.reload();
                    }
                },
                error: function (xhr) {
                    click_flag = true;
                    console.log(xhr);
                }
            });
        });
        //a标签post提交
        $('.a-post').click(function () {
            var msg = $(this).attr('post-msg');
            if (msg) {
                if (!confirm(msg)) {
                    return false;
                }
            }
            var url = $(this).attr('post-url');
            var param = url.substring(url.indexOf('?') + 1);
            console.log(param);
            var item = '',
                key = '',
                val = '',
                postData = {};
            var paramArr = param.split('&');
            // console.log(paramArr);
            for (var i = 0, len = paramArr.length; i < len; i++) {
                item = paramArr[i].split('=');
                key = item[0];
                val = item[1];
                postData[key] = val;
            }
            if (click_flag == false) {
                return false;
            }
            click_flag = false;
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: postData,
                success: function (res) {
                    click_flag = true;
                    if (res.msg) {
                        alert(res.msg)
                    }
                    if (res.code == 1) {
                        window.location.reload();
                    }
                },
                error: function (xhr) {
                    click_flag = true;
                    console.log(xhr);
                }
            });
        });
        //菜单顺序
        $('.menu_sort').unbind('change').change(function () {
            var sort = $(this).val(), that_id = $(this).attr('that_id');
            if (!that_id) {
                return false;
            }
            var postData = {id: that_id, sort: sort}
            if (click_flag == false) {
                return false;
            }
            click_flag = false;
            $.ajax({
                url: window.location.href,
                type: 'post',
                dataType: 'json',
                data: postData,
                success: function (res) {
                    click_flag = true;
                    if (res.msg) {
                        alert(res.msg)
                    }
                    if (res.code == 1) {
                        window.location.reload();
                    }
                },
                error: function (xhr) {
                    click_flag = true;
                    console.log(xhr);
                }
            });
        });
    })
</script>